{% extends 'base.html' %}
{% load static %}
{% block title %}
Locales
{% endblock %}

{% block content %}
{{message}}
<h2 
id="logo" style = "position: relative; margin: 2rem"> Todos los Locales:
</h2>
    {% for local in object_list %}
    <section class="box feature">
      <a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
      <div class="inner">
        <header>
          <h2>{{local.name}}</h2>
          <p><h4>Dirección:</h4>{{local.dir}}</p>
        </header>
        <p><h4>Descripción:</h4> {{local.description}}</p>
        <br>
        <a href="/negocios/{{local.id}}/" class="button icon fa-file-alt">Más</a>
      </div>
    </section>
        {% endfor %}
      </div>
    </div>
  {% endblock %}