{% extends 'base.html' %}
{% load static %}
{% block title %}
Editar Perfil
{% endblock %}

{% block content %}

<div class="container">
    <div id ="logo"><h3>Hola {{user.username}} completá los datos a modificar:</h3>
    </div>
    <div class="row">
    <div class="col">
<form action="" method="POST" enctype="multipart/form-data">
{% csrf_token %}
<table>
    {{ form.as_table }}
    <script>
        labels = document.getElementsByTagName('label');
        for (var j = 0; j < labels.length; j++) {   
            if (labels[j].textContent == "Name:") labels[j].textContent ="Nombre";
            if (labels[j].textContent == "Description:") labels[j].textContent = "Descripcion";
            if (labels[j].textContent == "Dir:") labels[j].textContent ="Dirección";
            if (labels[j].textContent == "Go:") labels[j].textContent ="Como llegar";
            if (labels[j].textContent == "Image:") labels[j].textContent ="Foto de Perfil";
            };
    </script>
</table>
<br>
    <input type="submit" value="Editar Perfil" href = "/cuenta/perfil/"></input>
</div>
</form>

{% endblock %}