{% extends 'base.html' %}
{% block title%}
MDQ-Pets
{% endblock %}
{% block content %}
			<!-- Banner -->
				<div id="banner-wrapper">
					<div id="banner" class="box container">
						<div class="row">
							<div class="col-7 col-12-medium">
								<h2>Hola, somos MDQ-Pets.</h2>
								<p>Acá vas a encontrar todo para tu mascota:<br>
									Veterinarias, PetShops, recreación. Con horarios verificados y descripción de sus servicios.
								</p>
							</div>
							<div class="col-5 col-12-medium">
								<ul>
									<li><a href="/cuenta/registrar-local/" class="button large icon solid fa-arrow-circle-right">Registra tu Negocio</a></li>
									<li><a href="#" class="button alt large icon solid fa-question-circle">Buscá lo que necesitas!</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>

			<!-- Features -->
				<div id="features-wrapper">
					<div class="container">
						<div class="row">
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Veterinaria Alejandro Giannoccaro</h2>
												<p>Veterinaria y Peluquería</p>
											</header>
											<p>Un excelente profeisonal, cuenta con ecografo. Super recomendable</p>
											<br>
											<a href="#" class="button icon fa-file-alt">Más</a>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="images/pic02.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>La Huella Recreación</h2>
												<p>Guardería y Recreación canina</p>
											</header>
											<p>Un paseo diferente, para que tu mascota sociabilice y aproveche de un espacio al aire libre, seguro y cuidado por una excelente persona.</p>
											<br>
											<a href="#" class="button icon fa-file-alt">Más</a>
										</div>
									</section>

							</div>
							<div class="col-4 col-12-medium">

								<!-- Box -->
									<section class="box feature">
										<a href="#" class="image featured"><img src="images/pic03.jpg" alt="" /></a>
										<div class="inner">
											<header>
												<h2>Lo de Lola</h2>
												<p>PetShop</p>
											</header>
											<p>PetShop completo, con muy buenos precios y excelente asesoramiento</p>
											<br>
											<a href="#" class="button icon fa-file-alt">Más</a>
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-medium">

								<!-- Sidebar -->
									<div id="sidebar">
										<section class="widget thumbnails">
											<h3>Para ellos, TODO</h3>
											<div class="grid">
												<div class="row gtr-50">
													<div class="col-6"><a href="#" class="image fit"><img src="images/p1.jfif" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="images/p2.jfif" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="images/p3.jfif" alt="" /></a></div>
													<div class="col-6"><a href="#" class="image fit"><img src="images/p4.jfif" alt="" /></a></div>
												</div>
											</div>
										</section>
									</div>

							</div>
							<div class="col-8 col-12-medium imp-medium">

								<!-- Content -->
									<div id="content">
										<section class="last">
											<h2>MDQ-Pets</h2>
											<p>Queremos lo mejor para <strong>tu mascota</strong>, y para las nuestras, por eso cree este espacio.<br>
											Para poder encontrar los mejores profesionales, y cubrir lo que ellos necesitan</p>
											<p>Se verifican horarios, opiniones y servicios que brindan, por eso, si lo que tu mascota necesita lo encontraste acá no dudes en llevarla!</p>
											<a href="/negocios/" class="button icon solid fa-arrow-circle-right">Mirá los negocios registrados</a>
										</section>
									</div>

							</div>
						</div>
					</div>
				</div>
				{% endblock %}