{% extends 'base.html' %}
{% block title %}
Perfil
{% endblock %}

{% block content %}
<div id="banner-wrapper">
  <div id="banner" class="box container">
      <div class="row">
          <div class="col-7 col-12-medium">
              <img src="{{ user.profile.image.url }}" class="card-img-top" style="border-radius: 50%; border: 5px; height: 200px; width: 200px; position: relative; left: 30%; top: 1%;" alt="..."/>
              <h2>Hola, {{user.profile.name}}.</h2>
          <div class="col-5 col-12-medium">
            <br>
              <ul>
                <a class="button" href ="/cuenta/perfil/actualizar/{{user.profile.id}}">Editar</a>
                  <li><a target="_blank" href="#" 
                    class="button large icon solid fa-arrow-circle-right">¿sabes como llegar?</a></li>
              </ul>
              </div>
          </div>
      </div>
  </div>
</div>
{% endblock %}
